{% extends 'file_receiver/base.html' %}

{% block content %}
    <div class="row">
        {% for file in files %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"> {{ file.file_name }} </div>
                        <a class="btn btn-primary" href="{{ file.file_data.url }}">Download</a>
                        <form method="POST" action="{% url 'file_receiver:delete_file' file.pk %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}