{% extends 'file_receiver/base.html' %}

{% block content %}
    <h2>Files</h2>

    <table>
        <thead>
            <tr>
                <th>File Name</th>
                <th>URL</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.file_name }}</td>
                    <td><a href="{{ file.file_data.url }}">download file</a></td>
                    <td>
                        <form method="POST" action="{% url 'file_receiver:delete_file' file.pk %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}